* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(20, 20, 20, 0.6), rgba(20, 20, 20, 0.8)), url("./image/IMG_20260405_113218_967.png") no-repeat center;
    background-size: cover;
}

.box {
    width: 600px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 18px;
    background: rgba(30, 30, 30, 0.7);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    color: #fff;
    transition: all 0.3s linear;
}

.form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search {
    width: 230px;
    height: 44px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 14px;
    color: #fff;
    background: rgba(255, 255, 255, 0.06);
    transition: 0.2s;
}

.search::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.search:focus {
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 0 8px rgba(100, 150, 255, 0.4);
}

.btn {
    height: 44px;
    width: 110px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
    background: #3a7bfd;
    transition: all 0.2s linear;
}

.btn:hover {
    background: #2f63cc;
    transform: scale(1.05);
}

.result {
    width: 100%;
    margin-top: 15px;
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name {
    font-size: 20px;
    font-weight: 600;
}

.degree {
    font-size: 20px;
}

span {
    color: #3a7bfd;
    font-weight: 600;
}
